body {
  background: #0b0a0d;
}

/* Bannar section start */

#bannar picture img {
  width: 100%;
  height: 580px;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}
/* Bannar section end */
/* vision section start */
#bannar picture img {
  width: 100%;
  height: 580px;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}
@media (max-width: 768px) {
  #bannar {
    padding: 0px 12px;
  }
}
@media (max-width: 640px) {
  #bannar {
    padding: 0px 12px;
  }
}
/* vision section end */
/* mission-vision section start */

#mission-vision {
  padding: 160px 80px;
}

.mission-vision-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  column-gap: 30px;
}
.mission-vision-container .vertical-separator {
  width: 1px;
  height: 244px;
  border: none;
  border-left: 1px solid var(--color-other-outline-30, rgba(145, 145, 145, 0.3));
}
.mission-vision-content {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  width: 525px;
}
.mission-vision-content button {
  max-width: fit-content;
}

@media (max-width: 1024px) {
  #mission-vision {
    padding: 80px 12px;
  }
  .mission-vision-container {
    flex-direction: column;
    align-items: center;
  }
  .mission-vision-container .vertical-separator {
    width: 100%;
    height: 1px;
    border-top: 1px solid rgba(145, 145, 145, 0.3);
    margin: 30px 0;
  }
  .mission-vision-content {
    width: 100%;
  }
}

@media (max-width: 768px) {
  #mission-vision {
    padding: 80px 12px;
  }
  .mission-vision-container {
    flex-direction: column;
    align-items: center;
  }
  .mission-vision-container .vertical-separator {
    width: 100%;
    height: 1px;
    border-top: 1px solid rgba(145, 145, 145, 0.3);
    margin: 30px 0;
  }
  .mission-vision-content {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .mission-vision-content h4 {
    font-size: 24px;
  }
  .mission-vision-content button {
    max-width: 90px;
  }
}
/* mission-vision section end */
/* team section start */

.team-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.team-content h2 {
  width: 379px;
  text-align: start;
  line-height: 58px;
}
.team-content p {
  width: 458px;
  line-height: 24px;
}
.team-top-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 24px;
}
.team-card {
  position: relative;
  background: var(--Color-BG-Box-BG, rgba(14, 17, 22, 1));
  border-radius: 12px;
  overflow: hidden;
}
.team-top-card .team-card {
  width: 573px;
  height: 480px;
}
.team-card picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.team-card-overlay {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 0px 32px 32px 32px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 202px;
}
.team-card-overlay span {
  margin-top: 8px;
}
.team-card-overlay .team-card-overlay-content {
  width: 443px;
}
.team-card-overlay picture {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  overflow: hidden;
  background: var(--Color-Other-White, rgba(255, 255, 255, 1));
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-card-overlay picture img {
  width: 28px;
  height: 28px;
  overflow: hidden;
}
.team-bottom-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
  margin-top: 24px;
}
.team-card-2 {
  position: relative;
  background: var(--Color-BG-Box-BG, rgba(14, 17, 22, 1));
  border-radius: 12px;
  overflow: hidden;
}
.team-bottom-card .team-card-2 {
  width: 374px;
  height: 360px;
  object-fit: cover;
  object-position: center;
}
.team-card-2 picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.team-card-overlay {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 0px 32px 32px 32px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 202px;
}
.team-card-overlay span {
  margin-top: 8px;
}
.team-card-overlay .team-card-overlay-content {
  width: 443px;
}

@media (max-width: 900px) {
  .team-top-card,
  .team-bottom-card {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .team-content {
    padding: 0 32px;
    flex-direction: column;
  }
  .team-content h2 {
    width: 100%;
    text-align: center;
  }
  .team-content p {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .team-top-card .team-card {
    width: auto;
  }
  .team-content h2 {
    line-height: 1.2;
    text-align: center;
    width: 100%;
  }
  .team-content p {
    width: 100%;
    text-align: center;
    padding: 0 30px;
  }
  .team-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  .team-card-overlay {
    padding: 15px;
  }
  .team-content {
    align-items: flex-start;
  }
}

@media (min-width: 1040px) {
  .team-top-card,
  .team-bottom-card {
    flex-direction: row;
    align-items: center;
  }
  .team-content {
    padding: 0 32px;
  }
  .team-bottom-card,
  .team-top-card {
    gap: 24px;
  }
  .team-card-section {
    padding: 0 12px;
  }
}
/* team section end */
/* success-story section start */
.suscces-container h2 {
  width: 539px;
  text-align: start;
}
.success-overlay {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.success-overlay img {
  width: 510px;
  height: 526px;
  border-radius: 15px;
  object-fit: cover;
  object-position: center;
}
.success-overlay-content {
  width: 558px;
}
.success-overlay-content p {
  line-height: 24px;
  width: 458px;
}
.success-overlay-content-bottom span {
  color: var(--Color-Other-1, rgba(130, 242, 168, 1));
  font-size: 64px;
  line-height: 76px;
  margin-bottom: 6px;
}
.success-overlay-content-bottom p {
  line-height: 26px;
}
.horizontal-separator {
  border: 1px solid var(--color-other-outline-30, rgba(145, 145, 145, 0.3));
  width: 100%;
  margin-bottom: 32px;
  margin-top: 32px;
}

@media (max-width: 1100px) {
  .suscces-container h2 {
    width: 100%; /* Take full width on smaller screens */
    text-align: center;
  }

  .success-overlay {
    flex-direction: column; /* Stack image and content vertically */
    align-items: center; /* Center items */
  }

  .success-overlay img {
    width: 100%; /* Take full width */
    height: auto; /* Maintain aspect ratio */
    max-width: 510px; /* Limit maximum width */
    margin-bottom: 40px; /* Add space between image and content */
  }

  .success-overlay-content {
    width: 100%; /* Take full width */
    max-width: 558px; /* Limit maximum width */
  }

  .success-overlay-content p {
    width: 100%; /* Take full width */
    max-width: 458px; /* Limit maximum width */
  }

  .success-overlay-content-bottom span {
    font-size: 48px; /* Reduce font size for smaller screens */
    line-height: 60px;
  }
}

@media (max-width: 768px) {
  .success-overlay-content-bottom span {
    font-size: 36px; /* Further reduce font size */
    line-height: 48px;
  }

  .success-overlay-content-bottom p {
    font-size: 18px; /* Adjust paragraph font size */
  }
}

@media (max-width: 480px) {
  .suscces-container h2 {
    font-size: 36px; /* Adjust main heading font size */
  }

  .success-overlay-content p {
    font-size: 14px; /* Adjust paragraph font size */
    line-height: 22px;
  }
}

/* Optional: Adjust padding and margins for smaller screens */
.success-overlay {
  padding-top: 40px;
}
.success-overlay-content p.pb-80 {
  padding-bottom: 40px;
}
/* success-story section end */
/* why-choose-us section start */
#why-choose-us {
  background-image: url(/images/services-section.png);
  background-size: cover;
  background-position: center;
}

.why-choose-us-container h2 {
  width: 100%;
  max-width: 381px;
  text-align: start;
}

.cta-section {
  padding: 80px 0px 160px 0px;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding-top: 80px;
}

.column {
  width: calc(100% - 20px);
  text-align: left;
}

@media (min-width: 768px) {
  .column {
    width: calc(50% - 20px);
  }
}

@media (min-width: 992px) {
  .column {
    width: calc(33.33% - 20px);
  }
}

.column_icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(145, 145, 145, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.column h3 {
  margin-top: 16px;
}

.column p {
  margin-top: 24px;
  line-height: 24px;
}

.py-160 {
  padding-top: 80px;
  padding-bottom: 80px;
}

@media (min-width: 768px) {
  .py-160 {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

@media (min-width: 992px) {
  .py-160 {
    padding-top: 160px;
    padding-bottom: 160px;
  }
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
/* why-choose-us section end */
/* capabilities section start */
.capabilities-container {
  display: flex;
  justify-content: space-between;
}
.capabilities-container picture img {
  width: 544px;
  height: 559px;
  object-fit: cover;
  object-position: center;
  border-radius: 15px;
}

.capability-dropdown {
  width: 520px;
}
.capability-dropdown-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.capability-dropdown-header button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--color-other-outline-30, rgba(145, 145, 145, 0.3));
  border: none;
  font-size: 25px;
  cursor: pointer;
}
.capability-dropdown-header button img {
  margin-top: 6px;
}
.speretaor-mt-0 {
  margin-top: 0px;
}
.speretaor-mb-24{
  margin-bottom: 24px;
}
.capability-dropdown .dropdown-content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.capability-dropdown .dropdown-content.active {
  max-height: 500px;
  opacity: 1;
}

.list-item {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}
.list-item .list {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: black;
  position: relative;
}
.list-item .list::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  padding: 1px;
  background: radial-gradient(
    164.04% 114.84% at 50% 0%,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  opacity: 1;
  pointer-events: none;
}
@media (max-width: 1100px) {
  .capabilities-container {
    flex-direction: column;
    align-items: center;
  }

  .capabilities-container picture img {
    width: 80%; /* Adjust image width for 1040px */
    max-width: 500px;
    height: auto;
    margin-top: 40px;
  }

  .capability-dropdown {
    width: 80%; /* Adjust dropdown width for 1040px */
  }
}
@media (max-width: 768px) {
  .capabilities-container {
    flex-direction: column;
    align-items: center;
  }

  .capabilities-container picture img {
    width: 100%;
    max-width: 400px;
    height: auto;
  }

  .capability-dropdown {
    width: 100%;
  }

  .capability-dropdown-header div {
    font-size: 28px; /* Adjust header text size */
  }

  .list-item p {
    font-size: 16px; /* Adjust list item text size */
  }
}

@media (max-width: 480px) {
  .capability-dropdown-header div {
    font-size: 24px;
  }

  .list-item p {
    font-size: 14px;
  }
}
/* capabilities section end */
/* cta section start */
.trail-section-container {
  padding: 32px;
  background: rgba(22, 25, 29, 1);
  border-radius: 15px;
  background-image: url(/images/about-us/BG.png);
  background-size: cover;
  background-position: center;
}
.trial-section-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.trial-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 478px;
}
.trial-content a {
  width: 200px;
  margin-top: 32px;
}
.trial-info-box {
  width: 497px;
  background: var(--color-other-outline-15, rgba(145, 145, 145, 0.15));
  padding: 24px 16px 24px 24px;
  border-radius: 15px;
}
.trial-info-box .trial-tags {
  padding-top: 140px;
}
.trial-info-box .trial-tags .tag {
  background: var(--color-other-outline-15, rgba(145, 145, 145, 0.15));
}
.trial-steps {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.trial-steps .step {
  width: 264px;
  height: 134px;
  border-radius: 10px;
  background: var(--color-other-outline-15, rgba(145, 145, 145, 0.15));
  padding: 24px 79px 24px 24px;
}
.trial-steps .step .step-number {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-bottom: 16px;
  color: rgba(16, 24, 40, 1);
}

@media (max-width: 1100px) {
  .trial-section-container {
    padding: 24px;
    flex-direction: column;
  }

  .trial-content,
  .trial-info-box {
    max-width: 100%; /* Full width on tablet */
    margin-bottom: 20px;
  }
  .trial-steps {
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 20px;
  }
  .trial-steps .step {
    max-width: 48%; /* Two columns on tablet */
  }

  .trial-info-box .trial-tags {
    padding-top: 10px;
  }
}

@media (max-width: 768px) {
  .trial-section-container {
    padding: 16px;
  }

  .trial-steps .step {
    max-width: 100%; /* Single column on mobile */
  }

  .trial-content a {
    width: 100%; /* Full width button on mobile */
    max-width: 200px; /* Ensures button does not stretch too much */
  }
}

@media (max-width: 480px) {
  .trial-section-container {
    padding: 12px;
  }
}
/* cta section end */
