body {
  background: #0b0a0d;
}
nav ul li:first-child {
  margin-left: 0px;
}
nav ul li {
  margin-right:0px;
  margin-left: 0px;
}
.hero-content h1 {
  width: 708px;
  text-align: start;
  padding-bottom: 65px;
}
.hero-content p {
  width: 657px;
  text-align: start;
  line-height: 24px;
  margin: 32px 0px;
}

.circle-seperator {
  width: 8px; /* Adjust size as needed */
  height: 8px;
  background-color: rgba(145, 145, 145, 0.3); /* Change color as needed */
  border-radius: 50%; /* Makes it a circle */
  display: inline-block; /* Ensures it doesn't take full width */
  margin: 0px 8px;
}
@media (max-width: 1200px) {
  .hero-content h1 {
    width: 70%;
    margin-top: 60px;
    padding-bottom: 30px;
    font-size: 48px;
  }

  .hero-content p {
    width: 90%;
    margin: 20px 0;
  }
  .hero-content {
    margin-left: 40px;
  }
}

@media (max-width: 992px) {
  .hero-content h1 {
    font-size: 48px;
  }
  .hero-content p {
    width: 100%;
  }
  .hero-content {
    margin-left: 40px;
  }
}

@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 48px;
  }
}

@media (max-width: 600px) {
  .hero-content h1 {
    font-size: 36px;
  }

  .hero-content p,
  .tag {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .hero-content h1 {
    font-size: 32px;
  }
}
/* blog-details section start */
.main-bolg-section {
  display: flex;
  justify-content: space-between;
}
.blog-left-section {
  width: 360px;
}
.blog-right-section {
  width: 720px;
}
.horizontal-sparator {
  width: 100%; /* Adjust width as needed */
  height: 2px; /* Adjust thickness */
  background-color: rgba(145, 145, 145, 0.3); /* Adjust color */
  margin: 10px 0; /* Add spacing above and below */
}

.blog-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 32px 0px;
}
.locial-media-icons {
  display: flex;
  gap: 12px;
  margin: 32px 0px;
}
.locial-media-icons .icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
.locial-media-icons .icon img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.weekly-newsletter {
  padding: 32px 32px 40px 32px;
  border-top: 6px solid rgba(255, 255, 255, 1);
  border-end-start-radius: 16px;
  border-end-end-radius: 16px;
}
.weekly-newsletter picture {
  width: 56px;
  height: 56px;
  object-fit: cover;
  object-position: center;
  padding: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 28px;
  margin: 32px 0px;
}
.weekly-newsletter picture img {
  width: 20px;
  height: 20px;
}

.weekly-newsletter p {
  line-height: 24px;
}
.weekly-newsletter form {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}

.weekly-newsletter form input {
  background: rgba(255, 255, 255, 1);
  padding: 10px 14px;
  border-radius: 32px;
  margin-bottom: 16px;
}
.weekly-newsletter form input::placeholder {
  color: rgba(152, 162, 179, 1);
  font-size: 16px;
  font-weight: 400;
  font-family: "Lato", serif;
}
.weekly-newsletter form button {
  padding: 12px 24px;
  border-radius: 32px;
  border: none;
  cursor: pointer;
}

.blog-right-section h4 {
  margin-bottom: 20px;
}
.blog-right-section p {
  line-height: 24px;
  margin-top: 20px;
}
.blog-right-section img {
  margin-top: 28px;
  width: 720px;
  height: 480px;
  object-fit: cover;
  object-position: center;
  border-radius: 12px;
}
.blog-right-section .link {
  display: flex;
  align-items: center;
  gap: 6px;
}
.blog-right-section .link img {
  width: 16px;
  height: 16px;
}
.blog-right-section .link a {
  text-decoration: underline;
}
.blog-right-section .blog-content-profile {
  border-left: 2px solid rgba(255, 255, 255, 1);
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  margin-top: 48px;
}
.blog-right-section .profile-bolg {
  display: flex;
  align-items: center;
  gap: 12px;
}
.blog-right-section .profile-details {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.blog-right-section .profile-bolg img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.paragraph {
  margin-top: 48px;
  line-height: 24px;
}

ol {
  margin-top: 24px;
  list-style: none; /* Remove default numbering */
  counter-reset: custom-counter; /* Reset the custom counter */
}

ol li {
  counter-increment: custom-counter; /* Increment the counter for each list item */
}

ol li::before {
  content: counter(custom-counter) ". "; /* Display the counter as the number */
  font-weight: bold; /* Customize text appearance */
  color: rgba(152, 162, 179, 1); /* Customize color */
}

ul li {
  text-decoration: underline;
  padding-bottom: 4px;
  list-style: disc !important;
  margin-left: 20px;
}
.conclusion {
  padding: 32px;
  border-radius: 16px;
  margin: 48px 0px;
}

@media (max-width: 1200px) {
  .main-bolg-section {
    flex-direction: column;
  }

  .blog-left-section {
    width: 100%;
    margin-bottom: 40px;
  }

  .blog-right-section {
    width: 100%;
  }

  .blog-right-section img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 768px) {
  .blog-right-section h4 {
    font-size: 28px;
  }
}

@media (max-width: 600px) {
  .blog-left-section,
  .blog-right-section {
    padding: 0 10px;
  }

  .blog-right-section h4 {
    font-size: 24px;
  }

  .blog-right-section p,
  .blog-right-section li,
  .blog-right-section ol li::before,
  .blog-right-section ul li,
  .conclusion p {
    font-size: 16px;
  }

  .weekly-newsletter h4 {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .blog-right-section h4 {
    font-size: 22px;
  }
}
/* blog-details section end */
/* blog section  start*/
.blog-heading {
  text-align: start;
  background: radial-gradient(
    39.91% 96.59% at 52.48% 50%,
    #ffffff 0%,
    rgba(228, 237, 255, 0.53) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; /* Hide original text color */
}

.blog-cards-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 24px;
  row-gap: 40px;
}

.blog-cards {
  width: 374px;
  background: rgba(11, 10, 13, 1);
  position: relative;
  border-radius: 20px;
  padding: 1.5px;
  overflow: hidden;
}

.blog-cards::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 20px;
  padding: 1.5px;
  background: radial-gradient(
    164.04% 114.84% at 50% 0%,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.blog-cards img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}
.blog-cards-content {
  padding-left: 16px;
}
.blog-cards-content h5 {
  margin-top: 16px;
}

.blog-paginaton-contaienr {
  margin-top: 56px;
}

@media (max-width: 1200px) {
  .blog-cards-container {
    justify-content: center;
  }
  .blog-heading {
    margin-left: 40px;
  }
  .blog-left-section {
    padding: 0px 20px;
  }
  .weekly-newsletter {
    width: 35%;
  }
  .blog-right-section{
    padding: 0px 20px;
  }
}

@media (max-width: 1100px) {
  .weekly-newsletter {
    width: 40%;
  }
}
@media (max-width: 992px) {
  .blog-heading {
    font-size: 48px;
  }
  .weekly-newsletter {
    width: 40%;
  }
}

@media (max-width: 768px) {
  .blog-heading {
    font-size: 36px;
  }
  .weekly-newsletter {
    width: 100%;
  }

  .blog-cards {
    width: 90%;
    max-width: 374px;
  }
}

@media (max-width: 600px) {
  .blog-heading {
    font-size: 32px;
  }

  .blog-cards-content h5 a {
    font-size: 20px;
  }

  .blog-cards-content p {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .blog-heading {
    font-size: 28px;
  }
}

/* blog section  end*/
.footer-content-nav-list ul li{
  list-style: none !important;
  text-decoration: none;
  margin-left: 0px;
}