body {
  background: #0b0a0d;
}
.header-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}
.custom-tag {
  display: inline-flex;
  justify-items: center;
  align-items: center;
  padding: 4px 12px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 40px;
}
.input-header {
  width: 348px;
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 14px;
  padding-bottom: 12px;
  border-bottom: 1px solid
    var(--color-other-outline-30, rgba(145, 145, 145, 0.3));
}
.input-header img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.input-header input {
  outline: transparent;
  background: #0b0a0d;
  color: rgba(102, 112, 133, 1);
  width: 100%;
  padding: 4px;
  border: transparent;
  font-weight: 400;
  font-size: 16px;
}
.header-section-content {
  width: 455px;
}
.header-section-content h1 {
  text-align: start;
  margin-top: 80px;
}
.header-section-content p {
  text-align: start;
  margin-top: 32px;
}

.slider-container {
  position: relative;
  width: 100%;
}
#projects {
  max-width: 1784px;
  position: relative;
  overflow: hidden;
  margin: auto;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  gap: 20px; /* Adjust gap between cards */
}

.progress-bar {
  flex-grow: 1;
  height: 5px;
  background-color: rgba(145, 145, 145, 0.3); /* Default background color */
  margin: 0 20px;
  position: relative;
}

.progress {
  height: 100%;
  background-color: rgba(255, 255, 255, 1); /* Default progress color */
  width: 0;
  transition: width 0.3s ease-in-out;
}

.slider-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.slider-buttons {
  display: flex;
  width: 100px;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.prev-button,
.next-button {
  width: 44px;
  height: 44px;
  background-color: rgba(145, 145, 145, 0.08);
  border: 1px solid rgba(145, 145, 145, 0.3);
  border-radius: 100px;
  color: white;
  border: none;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prev-arrow,
.next-arrow {
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
}

.prev-arrow {
  background-image: url("/images/about-us/icon/left-icon.svg");
}

.next-arrow {
  background-image: url("/images/about-us/icon/right-icon.svg");
}
#blog-section-slider {
  width: 1400px;
  overflow: hidden;
}
.blog-card {
  flex: 0 0 707px;
  width: 707px;
  border-radius: 24px;
  position: relative;
  overflow: hidden;
}

.blog-card img {
  width: 100%;
  border-radius: 15px;
  position: relative;
}
.blog-card .bage-section {
  position: absolute;
  bottom: 128px;
  left: 40px;
}

.blog-card h4 {
  position: absolute;
  bottom: 40px;
  width: 627px;
  left: 40px;
}

/* blog section  start*/
.blog-heading {
  text-align: start;
  background: radial-gradient(
    39.91% 96.59% at 52.48% 50%,
    #ffffff 0%,
    rgba(228, 237, 255, 0.53) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; /* Hide original text color */
}

.blog-cards-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 24px;
  row-gap: 40px;
}

.blog-cards {
  width: 374px;
  background: rgba(11, 10, 13, 1);
  position: relative;
  border-radius: 20px;
  padding: 1.5px;
  overflow: hidden;
}

.blog-cards::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 20px;
  padding: 1.5px;
  background: radial-gradient(
    164.04% 114.84% at 50% 0%,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.blog-cards img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}
.blog-cards-content {
  padding-left: 16px;
}
.blog-cards-content h5 {
  margin-top: 16px;
}

.blog-paginaton-contaienr {
  margin-top: 56px;
}
.blog-pagination {
  width: 496px;
  margin: auto;
  border: 1px solid var(--color-other-outline-30, rgba(145, 145, 145, 0.3));
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
}
.pagination-prev-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
  gap: 8px;
  cursor: pointer;
}
.pagination-prev-button img {
  width: 20px;
  height: 20px;
}
.pagination-next-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 16px;
  gap: 8px;
  cursor: pointer;
}
.pagination-next-button img {
  width: 20px;
  height: 20px;
}
.pagination-content {
  width: 40px;
  border-right: 1px solid
    var(--color-other-outline-30, rgba(145, 145, 145, 0.3));
  border-left: 1px solid var(--color-other-outline-30, rgba(145, 145, 145, 0.3));
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.pagination-active {
  background-color: rgba(130, 242, 168, 1);
  color: rgba(16, 24, 40, 1);
}
/* blog section  end*/
/* blog cta section start */
.blog-cta-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 114px 303px;
  flex-direction: column;
  margin-top: 80px;
  margin-bottom: 160px;
  background-image: url("/images/cta.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 28px;
}
.blog-cta-container h3 {
  text-align: center;
}
.blog-cta-container form {
  width: 490px;
  padding: 6px 6px 6px 24px;
  background: rgba(255, 255, 255, 1);
  border-radius: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 32px;
}
.blog-cta-container form input {
  width: 60%;
  border: none;
  outline: none;
  padding: 16px 0;
  font-size: 16px;
  color: rgba(102, 112, 133, 1);
}
.blog-cta-container form input::placeholder {
  color: rgba(102, 112, 133, 1);
}
.blog-cta-container form button {
  background: rgba(29, 41, 57, 1);
  border-radius: 36px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 14px 20px;
  color: rgba(255, 255, 255, 1);
}

/* blog cta section end */
