body {
  background: #0b0a0d;
}
.header h1 {
  width: 643px;
  margin-top: 120px;
}
.header p {
  width: 567px;
  line-height: 24px;
  margin-top: 32px;
}
.circle-seperator {
  width: 8px; /* Adjust size as needed */
  height: 8px;
  background-color: rgba(145, 145, 145, 0.3); /* Change color as needed */
  border-radius: 50%; /* Makes it a circle */
  display: inline-block; /* Ensures it doesn't take full width */
  margin: 0px 8px;
}
.bottom-row {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottom-row .item {
  width: 240px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
/* img section */
.img-section picture img {
  width: 1170px;
  height: 560px;
  object-fit: cover;
  object-position: center;
  border-radius: 28px;
}
/* img section */
