/* Reset CSS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
}
.underline {
  text-decoration: underline;
}
/* Font Families */
.lato {
  font-family: "Lato", serif;
}
.plus-jakarta {
  font-family: "Plus Jakarta Sans", serif;
}
.lora {
  font-family: "Lora", serif;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

/* Font Sizes */
.font-12 {
  font-size: 12px;
}
.font-14 {
  font-size: 14px;
}
.font-16 {
  font-size: 16px;
}
.font-18 {
  font-size: 18px;
}
.font-20 {
  font-size: 20px;
}
.font-24 {
  font-size: 24px;
}
.font-28 {
  font-size: 28px;
}
.font-26 {
  font-size: 26px;
}
.font-32 {
  font-size: 32px;
}
.font-40 {
  font-size: 40px;
}
.font-48 {
  font-size: 48px;
}
.font-56 {
  font-size: 56px;
}
.font-60 {
  font-size: 60px;
}
.font-76 {
  font-size: 76px;
}
.font-96 {
  font-size: 96px;
}

/* Padding */
.py-11 {
  padding-top: 11px;
  padding-bottom: 11px;
}
.py-14 {
  padding-top: 14px;
  padding-bottom: 14px;
}
.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}
.py-45 {
  padding-top: 45px;
  padding-bottom: 45px;
}
.py-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}
.py-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}
.py-84 {
  padding-top: 84px;
  padding-bottom: 84px;
}
.py-120 {
  padding-top: 120px;
  padding-bottom: 120px;
}
.py-160 {
  padding-top: 160px;
  padding-bottom: 160px;
}
.my-40 {
  margin-top: 40px;
  margin-bottom: 40px;
}
.mt-8 {
  margin-top: 8px;
}
.mt-80 {
  margin-top: 80px;
}
.mb-80 {
  margin-bottom: 80px;
}
.pt-8 {
  padding-top: 8px;
}
.pt-12 {
  padding-top: 12px;
}
.pt-16 {
  padding-top: 16px;
}
.pt-20 {
  padding-top: 20px;
}
.pt-24 {
  padding-top: 24px;
}
.pt-32 {
  padding-top: 32px;
}
.pt-40 {
  padding-top: 40px;
}
.pt-45 {
  padding-top: 45px;
}
.pt-60 {
  padding-top: 60px;
}
.pt-71 {
  padding-top: 71px;
}
.pt-80 {
  padding-top: 80px;
}
.pt-120 {
  padding-top: 120px;
}
.pt-160 {
  padding-top: 160px;
}
.pl-46 {
  padding-left: 46px;
}

.pb-16 {
  padding-bottom: 16px;
}
.pb-80 {
  padding-bottom: 80px;
}
.pb-160 {
  padding-bottom: 160px;
}
.pb-280 {
  padding-bottom: 280px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-32 {
  margin-top: 32px;
}
/* Colors */
.white {
  color: rgba(255, 255, 255, 1);
}
.bg-white {
  background: rgba(255, 255, 255, 1);
}
.bg-box {
  background: rgba(14, 17, 22, 1);
}
.bg-primary {
  background: rgba(255, 255, 255, 1);
}

.primary {
  background: rgba(255, 255, 255, 1);
  -webkit-background-clip: text; /* For Chrome, Safari */
  -moz-background-clip: text; /* For Firefox */
  -ms-background-clip: text; /* For Internet Explorer/Edge */
  -o-background-clip: text; /* For Opera */
  background-clip: text; /* Standard property */
  -webkit-text-fill-color: transparent;
}
.gray-400 {
  color: rgba(152, 162, 179, 1);
}
.gray-800 {
  color: rgba(29, 41, 57, 1);
}
.gray-900 {
  color: rgba(16, 24, 40, 1);
}
.gray-400 {
  color: rgba(152, 162, 179, 1);
}
.gray-500 {
  color: var(--Color-Grey-500, rgba(102, 112, 133, 1));
}
.gray-300 {
  color: rgba(208, 213, 221, 1);
}

/* Font Weights */
.font-weight-100 {
  font-weight: 100;
} /* Thin */
.font-weight-200 {
  font-weight: 200;
} /* Extra Light */
.font-weight-300 {
  font-weight: 300;
} /* Light */
.font-weight-400 {
  font-weight: 400;
} /* Regular */
.font-weight-500 {
  font-weight: 500;
} /* Medium */
.font-weight-600 {
  font-weight: 600;
} /* Semi-Bold */
.font-weight-700 {
  font-weight: 700;
} /* Bold */
.font-weight-800 {
  font-weight: 800;
} /* Extra Bold */
.font-weight-900 {
  font-weight: 900;
} /* Black */

/* Italics */
.italic {
  font-style: italic;
}

.Soft-Sky-Glow {
  background: radial-gradient(
    39.91% 96.59% at 52.48% 50%,
    #ffffff 0%,
    rgba(228, 237, 255, 0.53) 100%
  );
  -webkit-background-clip: text; /* For Chrome, Safari */
  -moz-background-clip: text; /* For Firefox */
  -ms-background-clip: text; /* For Internet Explorer/Edge */
  -o-background-clip: text; /* For Opera */
  background-clip: text; /* Standard property */
  -webkit-text-fill-color: transparent; /* Required for WebKit browsers */
}

.green-topleft-bottomright {
  background: linear-gradient(135deg, #57d687, #172420, #388155);
}

.gray-25 {
  background: var(--Color-Grey-25, rgba(252, 252, 253, 1));
  -webkit-background-clip: text; /* For Chrome, Safari */
  -moz-background-clip: text; /* For Firefox */
  -ms-background-clip: text; /* For Internet Explorer/Edge */
  -o-background-clip: text; /* For Opera */
  background-clip: text; /* Standard property */
  -webkit-text-fill-color: transparent;
}

.overlay-team-red {
  background: linear-gradient(
    180deg,
    rgba(255, 97, 97, 0) 0%,
    rgba(255, 97, 97, 0.4) 50%,
    #ff6161 100%
  );
}
.overlay-team-purple {
  background: linear-gradient(
    180deg,
    rgba(145, 127, 251, 0) 0%,
    rgba(145, 127, 251, 0.4) 50%,
    #917ffb 100%
  );
}
.overlay-team-orange {
  background: linear-gradient(
    180deg,
    rgba(252, 157, 116, 0) 0%,
    rgba(252, 157, 116, 0.4) 50%,
    #fc9d74 100%
  );
}
.overlay-team-blue {
  background: linear-gradient(
    180deg,
    rgba(116, 188, 252, 0) 0%,
    rgba(116, 188, 252, 0.4) 50%,
    #74bcfc 100%
  );
}
.overlay-team-green {
  background: linear-gradient(
    180deg,
    rgba(117, 252, 180, 0) 0%,
    rgba(117, 252, 180, 0.58) 47.85%,
    #75fcb4 100%
  );
}

.word {
  color: #1f2937; /* Default gray-800 */
  transition: color 0.5s ease;
}

/* When the word gets the 'lightup' class, it will turn white */
.word.lightup {
  color: rgba(255, 255, 255, 1);
}

/* Hero Section start */
#hero {
  background-image: url("/images/BGTexture.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#hero .container nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 8px;
  border-radius: 85px;
  background: radial-gradient(
    76.07% 57.21% at 50% 123.08%,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(4, 5, 9, 0.2) 100%
  );
}
.mainlogo {
  width: 30%;
  display: flex;
  align-items: center;
  gap: 0px 8px;
}
.mainlogo a {
  padding-top: 0px;
}
nav {
  border: 1px solid rgba(145, 145, 145, 0.41);
  background: radial-gradient(
    76.07% 57.21% at 50% 123.08%,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(4, 5, 9, 0.2) 100%
  );
}

/* Menu styles */
.nav-menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

/* Links */
.nav-item a {
  text-decoration: none;
  color: rgba(208, 213, 221, 1);
  font-size: 16px;
  padding: 8px 12px;
  display: block;
}

/* Hover effect */
.nav-item:hover {
  background-color: #444;
  border-radius: 5px;
}

header {
  width: 800px;
  margin: 0 auto;
  padding: 140px 0px 83px 0px;
}

header p {
  width: 704px;
  margin: 0 auto;
  text-align: center;
}
.header-description {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-descriptin-tittle {
  margin-right: 12px;
}

.main-heading {
  text-align: center;
  margin-top: 12px;
}
/* Tags */
.tag-container {
  display: flex;
  align-items: center; /* Vertical centering */
  gap: 4px;
}

.tag {
  display: inline-flex; /* Allows flex properties while keeping it inline */
  justify-content: center; /* Centers text horizontally */
  align-items: center; /* Centers text vertically */
  padding: 4px 12px;
  background: rgba(14, 17, 22, 1);
  border: 1px solid rgba(145, 145, 145, 0.3);
  font-family: "Lato", serif;

  border-radius: 15px;
}

/* Main Heading */
.main-heading {
  line-height: 1.2;
}

/* Description */
.description {
  margin-top: 32px;
  margin-bottom: 40px;
}

/* Hero Section end */
/* Glow button */
.glow-button {
  border-radius: 100px;
  position: relative;
  background: radial-gradient(
    164.04% 114.84% at 50% 0%,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  border: 1px solid;
  overflow: hidden;
}
.glow-button-border {
  display: inline-block;
  position: absolute;
  font-weight: 600;
  width: 100%;
  height: 100%;
  color: #ddd;
  padding: 12px 20px;
  border: none;
  border-radius: 100px;
  background: black;
  position: relative;
  cursor: pointer;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.1);
  border: 1px solid transparent;
  background-clip: padding-box;
}

.glow-button .polygon {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -13px;
  z-index: 10;
}

.glow-button .polygon::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: radial-gradient(rgba(255, 255, 255, 1) 0%, #020201 100%);
  filter: blur(5.7px);
  z-index: 0;
}
/* CTA Button */
.cta-button {
  display: inline-block;
  background: var(--Color-Other-White, rgba(255, 255, 255, 1));

  padding: 12px 20px;
  border-radius: 100px;
  text-decoration: none;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

/* CTA Hover Effect */
.cta-button:hover {
  opacity: 0.8;
}
/* Badge Button */
.badge-button {
  display: flex;
  align-items: center;
  height: 36px;
  padding: 6px 16px 6px 6px;
  background: rgba(14, 17, 22, 1);
  border: 1px solid rgba(145, 145, 145, 0.3);
  color: rgba(255, 255, 255, 1);
  border-radius: 40px;
  font-size: 14px;
  white-space: nowrap;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.badge-button .button-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
/* white background button */
.white-bg-btn {
  padding: 14px 20px;
  background: var(--Color-Other-White, rgba(255, 255, 255, 1));
  border-radius: 100px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.white-bg-btn-arrow {
  margin-left: 9px;
  width: 24px;
  height: 24px;
  pointer-events: none;
}

/* Dropdown menu */
.dropdown {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.dropdown img {
  margin-left: -10px;
}

.dropdown-menu {
  position: absolute;
  background-color: #222;
  list-style: none;
  top: 100%;
  left: 0;
  display: none;
  min-width: 150px;
  padding: 5px 0;
  border-radius: 5px;
}

.dropdown-menu li a {
  padding: 10px 15px;
  display: block;
  color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.dropdown-menu li a:hover {
  background-color: #333;
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-menu {
  display: block;
}

/* clents section start */
.logo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
  max-width: 1200px;
  padding: 20px;
}

.logo {
  display: flex;
  flex-direction: column;
  text-align: start;
  align-items: start;
  justify-content: space-between;
  min-width: 100px;
  max-width: 150px;
}

.logo img {
  max-height: 40px;

  min-width: 100px;
  max-width: 150px;
  margin-right: 10px;
  display: flex;
  align-items: start;
  filter: grayscale(1);
}

.logo span {
  font-size: 1.2rem;
  font-weight: 600;
}
/* clents section end */

/* cta section start */
.cta-contant {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 120px 303px;
  border-radius: 28px;
  background-image: url("/images/cta.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.cta-contant h3 {
  text-align: center;
  font-size: clamp(28px, 4vw, 48px);
  width: 564px;
}

.cta-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  font-family: "Lato", serif;
  width: 200px;
}
.cta-btn button {
  border-radius: 25px;
  border: none;
}
.cta-btn a {
  font-family: "lato";
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.cta-btn a img {
  width: 24px;
  height: 24px;
}
@media (max-width: 1200px) {
  .cta-contant {
    padding: 60px;
  }
  #home-cta{
    padding: 0 12px;
  }
}

/* Responsive Styles */

/* cta section end */

/* product section start */

.projects-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: #ffffff;
  padding: 14px 20px;
  border: 2px solid rgba(255, 255, 255, 1);
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button-arrow {
  margin-left: 10px; /* Space between text and arrow */
  background-image: url("/images/icons/arrow-right-solid.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.projects-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.projects-container h3 {
  width: 654px;
  text-align: start;
}

.card {
  position: relative;
  padding: 1px;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 24px;
  padding: 1px;
  background: radial-gradient(
    164.04% 114.84% at 50% 0%,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}

.card.active::before {
  opacity: 1;
}

.project-card {
  flex: 0 0 876px;
  max-width: 876px;
  background: rgba(14, 17, 22, 1);
  border-radius: 24px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px 24px 24px 40px;
  box-sizing: border-box;
}

.card-container {
  width: 460px;
}

.card-container .card-image img {
  width: 32px;
  height: 32px;
}
.card-container .card-image {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  width: 56px;
  height: 56px;
  border-radius: 100%;
  background: rgba(23, 28, 36, 1);
  margin-bottom: 4px;
}

.card .card-image picture img {
  width: 320px;
  height: 340px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 15px;
}

.card-content {
  width: 449px;
}

.card-footer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.card-tag {
  background-color: #007bff; /* Blue background */
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 0.8rem;
}

.card-date {
  font-size: 0.8rem;
  color: #666; /* Gray color */
}

.slider-container {
  position: relative;
  width: 100%;
}
#projects {
  max-width: 1784px;
  position: relative;
  overflow: hidden;
  margin: auto;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  gap: 20px; /* Adjust gap between cards */
}

.progress-bar {
  flex-grow: 1;
  height: 5px;
  background-color: rgba(145, 145, 145, 0.3); /* Default background color */
  margin: 0 20px;
  position: relative;
}

.progress {
  height: 100%;
  background-color: rgba(255, 255, 255, 1); /* Default progress color */
  width: 0;
  transition: width 0.3s ease-in-out;
}

.slider-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.slider-buttons {
  display: flex;
  width: 100px;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.prev-button,
.next-button {
  width: 44px;
  height: 44px;
  background-color: rgba(145, 145, 145, 0.08);
  border: 1px solid rgba(145, 145, 145, 0.3);
  border-radius: 100px;
  color: white;
  border: none;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prev-arrow,
.next-arrow {
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
}

.prev-arrow {
  background-image: url("/images/about-us/icon/left-icon.svg");
}

.next-arrow {
  background-image: url("/images/about-us/icon/right-icon.svg");
}

/* product section end */
/* testimonial section start */

.testimonial-card {
  flex: 0 0 702px;
  width: 702px;
  background: rgba(14, 17, 22, 1);
  border-radius: 24px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px;
  box-sizing: border-box;
  background-image: url("/images/testimonial-card.png");
}
.testimonial-tittle {
  width: 646px;
  margin: 0 auto;
}

.profile {
  display: flex;
  width: 200px;
  flex-direction: column;
  align-items: start;
  gap: 15px;
}

.profile-image {
  position: relative;
  width: 56px;
  height: 56px;
}

.profile-image img {
  position: absolute;
  top: 0px;
  left: 45px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.icon {
  position: relative;
  width: 56px;
  height: 56px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(23, 28, 36, 1);
  border: 2px solid rgba(14, 17, 22, 1);
  border-radius: 50%;
  padding: 4px;
}
.icon img {
  position: absolute;
  width: 22px;
  height: 28px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); /* Corrected to -50% for translateY */
}

.icon svg {
  z-index: 1;
  width: 22px;
  height: 28px;
}

.profile-info p {
  padding-top: 4px;
}

.testimonial-text {
  width: 390px;
  line-height: 26px;
}

.rating {
  display: flex;
  align-items: center;
  background: #1c1d20;
  padding: 10px 12px;
  border-radius: 100px;
  width: fit-content;
}
.rating-img {
  width: 20px;
  height: 23px;
  margin-right: 7px;
}
.stars {
  margin-right: 7px;
}

.stars img {
  width: 10px;
  height: 10px;
}
/* testimonial section end */

/* campaign data section start */
.campaign-data-content {
  background-color: rgba(14, 17, 22, 1);
  border-radius: 15px;
  padding: 60px;
  margin-top: 80px;
}

.campaign-data-container {
  width: 798px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px; /* Spacing between items and progress bar */
}

.campaign-data-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  cursor: pointer;
  padding: 10px;
  transition: all 0.3s ease;
}

.campaign-data-item.active span {
  color: rgba(255, 255, 255, 1);
}

.campaign-data-item img {
  width: 24px;
  height: 24px;
}

/* Progress Bar */
.campaign-progress-bar {
  width: 798px;
  height: 4px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.progress-fill {
  display: block;
  width: 0;
  height: 100%;
  background: rgba(255, 255, 255, 1);
  border-radius: 4px;
  transition: width 0.3s ease-in-out;
}
.campaign-data-1 {
  display: flex;
  justify-content: space-between;
}
.campaign-table-container-2,
.campaign-table-container-3 {
  display: none;
}
.campaign-table-content {
  padding: 24px;
  background: rgba(145, 145, 145, 0.3);
  width: 601px;
  border-radius: 15px;
}

.table-container {
  max-height: 571px;
  overflow-y: auto; /* Enable vertical scrolling */
  border-radius: 15px;
  background-color: rgba(14, 17, 22);
  /* padding: 34px 24px 0px 24px; */
  /* Hide scrollbar for Chrome, Safari, and Edge */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 11 */
}
.table-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid rgba(145, 145, 145, 0.3);
  border-radius: 12px;
  overflow: hidden;
}

th,
td {
  padding: 16px 16px;
  text-align: left;
  border-bottom: 1px solid #282f38;
}
thead tr {
  background-color: #1c1f24;
}
thead tr th {
  padding: 24px 0px 24px 24px;
  text-transform: uppercase;
}

tbody tr td {
  text-align: center;
}

tr:hover {
  background-color: #202831;
}
tbody tr td picture {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px; /* Fixed width */
  height: 56px; /* Fixed height */
  padding: 12px 12px 12px 12px; /* Applied only top padding */
  gap: 10px; /* Not needed for a single image, but kept */
  border-radius: 100px; /* Top-left rounded */
  background: rgba(23, 28, 36, 1);
}

.brand-icon {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

.campaign-table-right-content {
  width: 386px;
}
.campaign-table-right-bullets ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.campaign-table-right-bullets ul li {
  display: flex;
  align-items: center;
  gap: 12px;
}
.campaign-table-right-bullets ul li span {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: rgba(145, 145, 145, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
}
.campaign-table-right-bullets ul li img {
  width: 24px;
  height: 24px;
}
/* campaign data section end */

/* contact form start */
.contact-form {
  display: flex;
  width: 100%;
  background: #16191d;
  border-radius: 24px;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  padding: 80px 60px 80px 80px;
}
#contact-form {
  background-image: url("/images/Contactform.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-form-content {
  width: 478px;
}

.contact-form-input {
  width: 466px;
}
.contact-form-points {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.contact-form-points img {
  width: 20px;
  height: 20px;
}
.contact-form-content h4 {
  padding-top: 84px;
  width: 244px;
}
.contact-form-content a {
  display: inline-flex;
  margin-top: 20px;
  padding: 8px 16px;
  border-radius: 100px;
  border: none;
  color: rgba(255, 255, 255, 1);
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  border: none;
}

form {
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.faq-form-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.faq-form-group input {
  padding: 16px 0px;
  width: 221px;
  background: rgba(14, 17, 22, 1);
  border: transparent;
  color: var(--Color-Other-White, rgba(255, 255, 255, 1));
  font-family: "Lato", serif;
  font-size: 18px;
  font-weight: 600;
  border-bottom: 1.5px solid rgba(145, 145, 145, 0.3);
}
.faq-form-group input::placeholder {
  color: rgba(255, 255, 255, 1);
}

.faq-form-group input:focus {
  outline: none;
  border: none;
  font-family: "Lato", serif;
  font-size: 18px;
  font-weight: 600;
  border-bottom: 1.5px solid rgba(145, 145, 145, 0.3);
}

.contact-details textarea {
  padding: 16px 0px;
  width: 100%;
  background: rgba(14, 17, 22, 1);
  border: transparent;
  color: var(--Color-Other-White, rgba(255, 255, 255, 1));
  border-bottom: 1.5px solid rgba(145, 145, 145, 0.3);
  font-family: "Lato", serif;
  font-size: 18px;
  font-weight: 600;
  margin-top: 71px;
}
.contact-details textarea::placeholder {
  color: rgba(255, 255, 255, 1);
}
.contact-details textarea:focus {
  outline: none;
  border: none;
  font-family: "Lato", serif;
  font-size: 18px;
  font-weight: 600;
  border-bottom: 1.5px solid rgba(145, 145, 145, 0.3);
}

.submit-btn button {
  padding: 14px 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  margin-top: 30px;
  border: none;
}
.submit-btn button img {
  margin-left: 4px;
  width: 24px;
  height: 24px;
}

@media (max-width: 1200px) {
  .contact-form {
    flex-direction: column;
    align-items: center;
    padding: 80px 60px 80px 60px;
  }
  .contact-form-content {
    width: 100%;
  }
  .contact-form-input {
    width: 100%;
  }
  .contact-form-points {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
  .contact-form-points img {
    width: 20px;
    height: 20px;
  }
  .contact-form-content h4 {
    padding-top: 84px;
    width: 244px;
  }
  .contact-form-content a {
    display: inline-flex;
    margin-top: 20px;
    padding: 8px 16px;
    border-radius: 100px;
    border: none;
  }
}

/* contact form end */

/* faq section start */
.faq-background {
  background-image: url("/images/bg-faq.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%; /* Or a specific height if needed */
  position: absolute; /* So it doesn't affect layout */
  top: 0;
  left: 0;
  z-index: -1; /* Place it behind the content */
  background-attachment: fixed;
}
#faq-section {
  position: relative;
  width: 100%;
  height: 100%;
}
.faq-section {
  width: 100%;
}
.faq-section-content {
  width: 533px;
  margin: 0 auto;
}

.faq-section-content p {
  text-align: center;
  margin-top: 16px;
}
.faq-nav-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.faq-button-nav-1 {
  padding: 8px 16px;
  border-radius: 100px;
  background: linear-gradient(90deg, #171c19 0%, #0e1116 100%);
  border: none;
}
.faq-button-nav-2 {
  padding: 8px 16px;
  border-radius: 100px;
  background: var(--Color-Other-White, rgba(255, 255, 255, 1));
  border: none;
}
.nav-faq-container {
  width: 100%;
  padding: 80px 0;
}

.nav-faq-item {
  background: #000;
  border-radius: 8px;
  margin-bottom: 16px;
}

.summary-container {
  padding: 24px 24px 5px 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 20px;
}

.arrow-img {
  width: 20px;
  height: 20px;
  transition: transform 0.3s ease;
}

.nav-faq-item.open .arrow-img {
  transform: rotate(90deg);
}

.content-container {
  margin-left: 40px;
  width: 100%;
  max-width: 1122px;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  padding-bottom: 20px;
}
.content-container p{
  width: 96%;
}

.nav-faq-item.open .content-container {
  opacity: 1;
  visibility: visible;
}

/* faq section end */

/* Footer  section start */
footer {
  background-image: url("/images/FooterArea.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.footer-content-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-content {
  width: 564px;
  margin: 0 auto;
  padding-top: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-content h3 {
  width: 446px;
  text-align: center;
}
.footer-content p {
  width: 541px;
  line-height: 24px;
  text-align: center;
}
.footer-content-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.footer-content a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 14px 20px;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  column-gap: 4px;
  background: rgba(255, 255, 255, 1);
}
.footer-content-nav {
  padding: 120px 20px 0px 20px;
}
.footer-content-nav-1 {
  width: 357px;
}
.footer-logo {
  display: flex;
  align-items: center;
  gap: 8px;
}
.footer-content-nav-1 p {
  width: 253px;
  line-height: 24px;
  margin-top: 4px;
}
.footer-content-nav-1-input {
  padding: 8px 8px 8px 20px;
  border: 1px solid var(--color-other-outline-30, rgba(145, 145, 145, 0.3));
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 32px;
}
.footer-content-nav-1-input-email {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
.footer-content-nav-1-input img {
  width: 24px;
  height: 24px;
}
.footer-content-nav-1-input input {
  border: none;
  outline: none;
  width: 80%;
  color: var(--Color-Grey-400, rgba(152, 162, 179, 1));
  background: #16191d;
  padding: 5px;
}
.footer-content-nav-1-input button {
  padding: 14px 20px;
  background: var(--Color-Other-White, rgba(255, 255, 255, 1));
  border-radius: 100px;
  border: none;
  cursor: pointer;
}

.footer-content-nav-2 {
  width: 533px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.footer-content-nav-list ul li,
a {
  font-family: "lato", sans-serif;
  font-size: 16px;
  color: rgba(152, 162, 179, 1);
  padding-top: 16px;
}
footer .speretaor {
  height: 1px;
  border: 1px solid #3a3d40;
  margin-top: 20px;
}

.footer-content-nav-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 46px 20px 20px 20px;
  padding-bottom: 30px;
}
.footer-content-nav-social {
  display: flex;
  align-items: center;
  gap: 12px;
}
.footer-content-nav-social img {
  display: inline-block;
  padding: 9px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid rgba(145, 145, 145, 0.3);
}
/* Tablet (1024px and below) */
@media (max-width: 1024px) {
  .footer-content {
    width: 100%;
    padding-top: 80px;
  }

  .footer-content-nav {
    flex-direction: column;
    gap: 60px;
    padding-top: 60px;
  }

  .footer-content-nav-1 {
    width: 70%;
    text-align: center;
  }

  .footer-logo {
    justify-content: center;
  }

  .footer-content-nav-1 p {
    width: 100%;
  }

  .footer-content-nav-2 {
    width: 100%;
    justify-content: space-around;
  }
  .footer-content-nav-1-input {
    max-width: 400px;
    margin: 32px auto 0;
    justify-content: center;
  }
}

/* Tablet (768px and below) */
@media (max-width: 768px) {
  .footer-content h3 {
    font-size: 36px;
  }
  .footer-content p {
    font-size: 14px;
    padding: 20px;
  }

  .footer-content-nav-2 {
    flex-wrap: wrap;
    gap: 40px;
  }

  .footer-content-nav-1-input {
    max-width: 400px;
    margin: 32px auto 0;
    justify-content: center;
  }
  .content-container p{
    width: 90%;
  }
}

/* Mobile (480px and below) */
@media (max-width: 480px) {
  .footer-content h3 {
    font-size: 28px;
  }
  .footer-content p {
    font-size: 14px;
    padding: 20px;
  }

  .footer-content-nav-2 {
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }

  .footer-content-nav-bottom {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  .footer-content-nav-1-input {
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    justify-content: center;
    align-items: center;
  }

  .footer-content-nav-1-input button {
    width: 100%;
  }

  .footer-content-nav-1-input input {
    width: 100%;
  }
}

/* Footer  section end */
