body {
  background: #0b0a0d;
}
/* solutions section start */
#solution h3 {
  width: 550px;
  margin: auto;
}
.solution-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.solution-cards .solution-card {
  width: 374px;
}
.solution-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#solution .solution-heading h3 {
  width: 390px;
  text-align: left;
  margin: 0px;
}
.solution-heading p {
  width: 458px;
}
.solution-cards {
  flex-wrap: wrap;
  row-gap: 85px;
}
/* solutions section end */

/*  why choose us section start */
#why-choose-us picture img {
  width: 1170px;
  height: 542px;
  object-fit: cover;
  object-position: center;
  border-radius: 28px;
  margin-top: 80px;
}
.why-choose-us-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 48px;
}
.why-choose-us-cards .why-choose-us-card {
  width: 363px;
}
.why-choose-us-cards .why-choose-us-card h3 {
  border-bottom: 1px solid var(--Color-Other-1, rgba(130, 242, 168, 1));
  width: 230px;
}
/* why choose us section end */
/* content section start */
.content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content-container h3 {
  width: 536px;
  text-align: start;
}
.content-container p {
  width: 394px;
}
.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cards .card {
  width: 374px;
  padding: 24px;
  background: var(--Color-BG-Box-BG, rgba(14, 17, 22, 1));
  border-radius: 24px;
}
.cards .card .top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cards .card h3 {
  margin-top: 48px;
}

/* content section end */

/* paid media channels satrt */
.paid-media {
  margin-top: 80px;
  margin-bottom: 160px;
  background-color: rgba(14, 17, 22, 1);
}
.capability-dropdown {
  width: 575px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  row-gap: 40px;
}
.capability-dropdown-header {
  display: flex;
  align-items: center;
  gap: 20px;
}
.capability-dropdown-header button {
  width: 40px;
  height: 40px;
  background: rgba(14, 17, 22, 1);
  border: none;
}
.dropdown-content {
  animation: fadeIn 0.5s ease;
}
.dropdown-content p {
  margin-left: 62px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.paid-media-container {
  display: flex;
  justify-content: space-between;
}
.dropdownButton {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.paid-media-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.paid-media-heading .content-container {
  width: 458px;
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 12px;
}
.paid-media-heading .content-container h2 {
  text-align: start;
}

/* paid media channels end */
