body {
  background: #0b0a0d;
}
@media (max-width: 1200px) {
  #hero header p {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .main-heading {
    font-size: 60px;
  }
}

@media (max-width: 600px) {
  .main-heading {
    font-size: 48px;
  }

  .description {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .main-heading {
    font-size: 36px;
  }

  .cta-btn a {
    font-size: 16px;
  }
}

/* solutions section start */
#solution h3 {
  width: 550px;
  margin: auto;
}
.solution-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.solution-cards .solution-card {
  width: 374px;
}
.solution-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#solution .solution-heading h3 {
  width: 390px;
  text-align: left;
  margin: 0px;
}
.solution-heading p {
  width: 458px;
}
.solution-cards {
  flex-wrap: wrap;
  row-gap: 85px;
}

@media (max-width: 1200px) {
  .solution-cards {
    justify-content: center;
  }

  .solution-cards .solution-card {
    width: 45%;
    max-width: 350px;
  }

  .solution-heading {
    flex-direction: column;
    align-items: center;
  }

  #solution .solution-heading h3 {
    width: 90%;
    text-align: center;
  }

  .solution-heading p {
    width: 90%;
    text-align: center;
    margin-top: 16px;
  }
}

@media (max-width: 768px) {
  .solution-cards .solution-card {
    width: 80%;
  }

  #solution h3 {
    font-size: 36px;
  }
}

@media (max-width: 600px) {
  .solution-cards .solution-card {
    width: 90%;
  }

  #solution h3 {
    font-size: 32px;
  }

  .solution-card h2 {
    font-size: 20px;
  }

  .solution-card p {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  #solution h3 {
    font-size: 28px;
  }
}
/* solutions section end */

/*  why choose us section start */
#why-choose-us picture img {
  width: 1170px;
  height: 542px;
  object-fit: cover;
  object-position: center;
  border-radius: 28px;
  margin-top: 80px;
}
.why-choose-us-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 48px;
}
.why-choose-us-cards .why-choose-us-card {
  width: 363px;
}
.why-choose-us-cards .why-choose-us-card h3 {
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  width: 230px;
}

@media (max-width: 1200px) {
  #why-choose-us picture img {
    width: 100%;
    height: auto;
  }

  .why-choose-us-cards {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }

  .why-choose-us-cards .why-choose-us-card {
    width: 45%;
    max-width: 350px;
  }
}

@media (max-width: 768px) {
  #why-choose-us h3 {
    font-size: 36px;
  }

  .why-choose-us-cards .why-choose-us-card {
    width: 80%;
  }
}

@media (max-width: 600px) {
  #why-choose-us h3 {
    font-size: 32px;
  }

  .why-choose-us-cards .why-choose-us-card {
    width: 90%;
  }

  .why-choose-us-cards .why-choose-us-card h3 {
    font-size: 20px;
    width: 100%;
  }

  .why-choose-us-cards .why-choose-us-card p {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  #why-choose-us h3 {
    font-size: 28px;
  }
}
/* why choose us section end */
/* content section start */
.paid-media-heading {
  display: flex;
  justify-content: space-between;
}
.content-container-how {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content-container-how h2 {
  width: 536px;
  text-align: start;
}
.content-container-how p {
  width: 394px;
}
.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cards .card {
  width: 374px;
  padding: 24px;
  background-image: url("/images/paid-midia/Frame-3253.png");
  border-radius: 24px;
}
.cards .card .top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cards .card h3 {
  margin-top: 48px;
}
@media (max-width: 1200px) {
  .cards {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }

  .cards .card {
    width: 45%;
    max-width: 350px;
  }

  .content-container {
    text-align: center;
  }

  .content-container h3 {
    width: 90%;
    margin: 0 auto;
  }

  .content-container p {
    width: 90%;
    margin: 16px auto;
  }
}

@media (max-width: 768px) {
  .content-container h3 {
    font-size: 36px;
  }

  .cards .card {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .content-container h3 {
    font-size: 32px;
  }

  .cards .card {
    width: 90%;
  }

  .cards .card h3 {
    font-size: 20px;
  }

  .cards .card p {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .content-container h3 {
    font-size: 28px;
  }
}
/* content section end */

/* paid media channels satrt */
.paid-media {
  margin-top: 80px;
  margin-bottom: 160px;
  background-color: rgba(14, 17, 22, 1);
}
.capability-dropdown {
  width: 575px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  row-gap: 10px;
}
.capability-dropdown-header {
  display: flex;
  align-items: center;
  gap: 20px;
}
.capability-dropdown-header button {
  width: 40px;
  height: 40px;
  background: rgba(14, 17, 22, 1);
  border: none;
  cursor: pointer;
}
.dropdown-content {
  max-height: 0;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.dropdown-content.active {
  visibility: visible;
  opacity: 1;
}

.dropdown-content p {
  margin-left: 62px;
}

.paid-media-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dropdownButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  cursor: pointer;
}
@media (max-width: 1200px) {
  .paid-media-container {
    flex-direction: column;
    align-items: center;
  }

  .capability-dropdown {
    width: 90%;
    margin-top: 40px;
  }

  .paid-media-heading {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .content-container-how h2 {
    width: 90%;
    text-align: center;
  }

  .content-container-how p {
    width: 90%;
    text-align: center;
    margin: 16px auto;
  }
}

@media (max-width: 768px) {
  .content-container-how h2 {
    font-size: 36px;
    text-align: center;
    margin: 0 auto;
  }

  .capability-dropdown-header div {
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  .content-container-how h2 {
    font-size: 32px;
  }

  .capability-dropdown-header div {
    font-size: 18px;
  }

  .dropdown-content p {
    font-size: 14px;
    margin-left: 50px;
  }
}

@media (max-width: 480px) {
  .content-container-how h2 {
    font-size: 28px;
  }
}
/* paid media channels end */
/* capabilities section start */
#capabilities {
  margin-top: 160px;
  margin-bottom: 80px;
}
.capabilities-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.capabilities-container picture {
  width: 473px;
  height: 520px;
}
.capabilities-container img {
  width: 473px;
  height: 520px;
  border-radius: 12px;
  object-fit: cover;
  object-position: center;
}

.capabilities-right {
  width: 501px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.capabilities-right h3 {
  text-align: start;
}

.approach-container-item {
  display: flex;
  justify-content: space-between;
}
.approach-item img {
  width: 80px;
  height: 80px;
}
.approach-item ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.approach-item ul li {
  display: flex;
  align-items: center;
  gap: 8px;
}
.approach-item ul li img {
  width: 24px;
  height: 24px;
  /* mask-image: url("/images/services/icons/right.png");
  -webkit-mask-image: url("/images/services/icons/right.png");
  background-color: rgba(152, 162, 179, 1); */
}
@media (max-width: 1200px) {
  .capabilities-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .capabilities-container picture {
    width: 90%;
    max-width: 473px;
    height: auto;
  }

  .capabilities-container img {
    width: 100%;
    height: auto;
  }

  .capabilities-right {
    width: 90%;
    max-width: 501px;
    align-items: center;
    margin-top: 40px;
  }

  .capabilities-right h3 {
    text-align: center;
  }
}

@media (max-width: 768px) {
  #capabilities h3 {
    font-size: 36px;
  }
}

@media (max-width: 600px) {
  #capabilities h3 {
    font-size: 32px;
  }

  .capabilities-right p {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  #capabilities h3 {
    font-size: 28px;
  }
}
/* capabilities section end */
/* what we do section start */
.what-we-do-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 24px;
}

.what-we-do-cards .what-we-do-card {
  width: 573px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 24px;
  position: relative;
  background-image: url("/images/paid-midia/Frame-3253.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.what-we-do-cards .what-we-do-card::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 24px;
  padding: 2px;
  background: radial-gradient(
    164.04% 114.84% at 50% 0%,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 0) 100%
  ); /* Gradient border */

  /* Cross-browser masking */
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

.what-we-do-cards .what-we-do-card:hover::before {
  opacity: 1;
}

.what-we-do-cards .what-we-do-card .btn {
  margin-top: 32px;
}

.what-we-do-cards .what-we-do-card .btn a img {
  margin-left: 4px;
}

.what-we-do-cards .what-we-do-card .btn a {
  display: inline-flex;
  width: 154px;
  padding: 14px 20px;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 1);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease, border 0.3s ease;
  border: 1.5px solid transparent;
}

.what-we-do-cards .what-we-do-card .btn a:hover {
  background-color: rgba(14, 17, 22, 1);
  border: 1.5px solid var(--Color-Grey-800, rgba(29, 41, 57, 1));
  color: rgba(255, 255, 255, 1);
  fill: rgba(255, 255, 255, 1);
}
.what-we-do-cards .what-we-do-card .btn a:hover img {
  filter: brightness(0) invert(1);
}
@media (max-width: 1200px) {
  .what-we-do-cards {
    justify-content: center;
  }

  .what-we-do-cards .what-we-do-card {
    width: 90%;
    max-width: 573px;
  }
}

@media (max-width: 768px) {
  #what-we-do h3 {
    font-size: 36px;
  }

  .what-we-do-cards .what-we-do-card h5 {
    font-size: 28px;
  }
}

@media (max-width: 600px) {
  #what-we-do h3 {
    font-size: 32px;
  }

  .what-we-do-cards .what-we-do-card h5 {
    font-size: 24px;
  }

  .what-we-do-cards .what-we-do-card p {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  #what-we-do h3 {
    font-size: 28px;
  }
}
/* what we do section end */
