body {
  background: #0b0a0d;
}
/*hero section  start */
.stats-contaier {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 80px;
}
.stats {
  width: 220px;
}
.stats-item {
  display: flex;
  align-items: start;
  justify-content: start;
}

.stats-item .stars-plus-icon {
  width: 39px;
  height: 38px;
}
.gradient-text {
  font-size: 40px;
  font-weight: bold;
  display: inline-block;
  background: radial-gradient(
    39.91% 96.59% at 52.48% 50%,
    #ffffff 0%,
    rgba(228, 237, 255, 0.53) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
@media (max-width: 1200px) {
  .stats-contaier {
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 0px;
  }

  .stats {
    width: 45%;
    margin-bottom: 40px;
  }
}

@media (max-width: 768px) {
  header h1 {
    font-size: 60px;
  }

  .stats-item h6 {
    font-size: 48px;
  }

  .gradient-text {
    font-size: 32px;
  }
}

@media (max-width: 600px) {
  header h1 {
    font-size: 48px;
  }

  header p,
  .stats p {
    font-size: 16px;
  }

  .stats {
    width: 100%;
    text-align: center;
  }
  .stats-item {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  header h1 {
    font-size: 36px;
  }

  .stats-item h6 {
    font-size: 36px;
  }

  .gradient-text {
    font-size: 24px;
  }
}
/* hero section end */

/* paid media channels satrt */
.paid-media {
  margin-top: 80px;
  margin-bottom: 160px;
}
.capability-dropdown {
  width: 520px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.capability-dropdown-header {
  display: flex;
  align-items: center;
  gap: 20px;
}
.capability-dropdown-header button {
  width: 40px;
  height: 40px;
  background: #0b0a0d;
  border: none;
  cursor: pointer;
}
.dropdown-content {
  max-height: 0;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.dropdown-content.active {
  visibility: visible;
  opacity: 1;
}

.dropdown-content p {
  margin-left: 62px;
}

.paid-media-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dropdownButton {
  display: flex;
  align-items: center;
  cursor: pointer;
}
@media (max-width: 1200px) {
  .paid-media-container {
    column-gap: 100px;
    padding: 0px 20px;
    margin-top: 40px;
  }
  .capability-dropdown {
    width: 100%;
  }
  .dropdown-content p {
    margin-left: 40px;
  }
}
@media (max-width: 980px) {
  .paid-media-container {
    flex-direction: column;
    column-gap: 40px;
    align-items: center;
    justify-content: center;
  }
  .paid-media-container picture img {
    width: 100%;
  }
  .capability-dropdown {
    padding: 0px 40px;
    margin-top: 40px;
  }
}
@media (max-width: 768px) {
  .paid-media {
    margin-top: 40px;
    margin-bottom: 80px;
  }
  .paid-media-container {
    flex-direction: column;
    align-items: stretch;
    gap: 40px;
  }
  .capability-dropdown {
    width: 100%;
  }
  .dropdown-content p {
    margin-left: 40px;
  }
}

@media (max-width: 576px) {
  .capability-dropdown-header {
    gap: 12px;
  }
  .capability-dropdown-header button {
    width: 32px;
    height: 32px;
  }
  .capability-dropdown-header .font-24 {
    font-size: 20px;
  }
  .dropdown-content p {
    font-size: 14px;
    margin-left: 36px;
  }
}
/* paid media channels end */
/* featured case study start */
.case-study-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.case-study-left {
  width: 547px;
}
.case-study-left .case-study-button button {
  border-radius: 100px;
  margin-top: 32px;
}
.case-study-left .case-study-button button a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.horizontal-separator {
  width: 100%; /* Full width */
  height: 1.5px; /* Thickness of the separator */
  background-color: rgba(145, 145, 145, 0.3); /* Using the given color */
  margin: 32px 0; /* Adds spacing above and below */
}
.case-study-container .stats-contaier {
  margin-top: 24px;
}
.case-study-container picture img {
  width: 473px;
  height: 520px;
  border-radius: 12px;
}
@media (max-width: 1200px) {
  .case-study-container {
    flex-direction: column;
    align-items: center;
  }

  .case-study-left {
    width: 90%;
    max-width: 547px;
    margin-bottom: 40px;
  }

  .case-study-container picture img {
    width: 100%;
    max-width: 473px;
    height: auto;
  }
}

@media (max-width: 768px) {
  .main-heading {
    font-size: 36px;
  }

  .case-study-left h3 {
    font-size: 28px;
  }
}

@media (max-width: 600px) {
  .main-heading {
    font-size: 32px;
  }

  .case-study-left h3 {
    font-size: 24px;
  }

  .case-study-left p,
  .stats p {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .main-heading {
    font-size: 28px;
  }
}
/* featured case study end */
/* capabilities section start */
#capabilities {
  margin-top: 160px;
  margin-bottom: 80px;
}
.capabilities-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.capabilities-container picture {
  width: 473px;
  height: 520px;
}
.capabilities-container img {
  width: 473px;
  height: 520px;
  border-radius: 12px;
  object-fit: cover;
  object-position: center;
}

.capabilities-right {
  width: 474px;
}
.capabilities-right h3 {
  text-align: start;
}

.approach-container-item {
  display: flex;
  justify-content: space-between;
}
.approach-item img {
  width: 80px;
  height: 80px;
}
.approach-item ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.approach-item ul li {
  display: flex;
  align-items: center;
  gap: 8px;
}
.approach-item ul li img {
  width: 24px;
  height: 24px;
  /* mask-image: url("/images/services/icons/right.png");
  -webkit-mask-image: url("/images/services/icons/right.png");
  background-color: rgba(152, 162, 179, 1); */
}

@media (max-width: 1200px) {
  #capabilities {
    margin-top: 80px;
    margin-bottom: 0px;
  }

  .capabilities-container {
    flex-direction: column;
    align-items: center;
  }

  .capabilities-container picture,
  .capabilities-container img {
    width: 100%;
    max-width: 473px;
    height: auto;
  }

  .capabilities-right {
    width: 90%;
    max-width: 474px;
  }
  .approach-item ul li {
    align-items: flex-start;
  }
  .cards {
    padding-top: 0px;
  }
}

@media (max-width: 768px) {
  .main-heading {
    font-size: 36px;
  }

  .capabilities-right h5 {
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  .main-heading {
    font-size: 32px;
  }

  .capabilities-right h5,
  .approach-item ul li {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .main-heading {
    font-size: 28px;
  }
}
/* capabilities section end */
/* content section start */
.content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content-container h3 {
  width: 443px;
  text-align: start;
}
.content-container p {
  width: 458px;
}
.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cards .card {
  width: 374px;
  padding: 24px;
  background-image: url("/images/paid-midia/Frame-3253.png");
  border-radius: 24px;
}
.cards .card .top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cards .card h3 {
  margin-top: 48px;
}
@media (max-width: 1200px) {
  #content {
    padding: 0px 20px;
  }
  .content-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .content-container h3,
  .content-container p {
    width: 100%;
    margin-bottom: 20px;
  }

  .cards {
    flex-direction: column;
    align-items: center;
  }

  .cards .card {
    width: 90%;
    max-width: 374px;
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .main-heading {
    font-size: 36px;
  }

  .cards .card h3 {
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  .main-heading {
    font-size: 32px;
  }

  .cards .card h3,
  .cards .card p {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .main-heading {
    font-size: 28px;
  }
}
/* content section end */
/* solutions section start */
#solution h3 {
  width: 550px;
  margin: auto;
}
.solution-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.solution-cards .solution-card {
  width: 374px;
}
@media (max-width: 1200px) {
  .solution-cards {
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }
  .solution-cards .solution-card {
    width: 45%;
  }
}

@media (max-width: 768px) {
  #solution h3 {
    width: 90%;
    font-size: 36px;
  }
  .solution-cards .solution-card {
    width: 80%;
  }
}

@media (max-width: 576px) {
  #solution h3 {
    font-size: 32px;
  }
  .solution-cards .solution-card {
    width: 95%;
  }
}
/* solutions section end */
/* cta section start */
@media (max-width: 768px) {
  .cta-section .cta-contant {
    padding: 60px 30px;
  }
  .cta-section .cta-contant h3 {
    font-size: 36px;
    text-align: center;
  }
  .cta-section .cta-contant .cta-btn {
    text-align: center;
    margin-top: 30px;
  }
}

@media (max-width: 576px) {
  .cta-section .cta-contant h3 {
    font-size: 32px;
  }
  .cta-section .cta-contant .cta-btn a {
    font-size: 16px;
    padding: 12px 24px;
  }
}

/* cta section end */

/* why choose us section start */
.why-choose-us-container {
  display: flex;
}
.why-choose-us-content-1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 40px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 15px 0px 0px 15px;
}
.why-choose-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
.why-choose-item span {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: rgba(16, 24, 40, 1);
  padding: 6px;
}
.why-choose-item img {
  width: 24px;
  height: 24px;
}
.speretaor {
  width: 100%; /* Full width */
  height: 1px; /* Thickness of the line */
  background-color: var(
    --color-other-outline-15,
    rgba(145, 145, 145, 0.15)
  ); /* Color */
}
.why-choose-us-content-2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 40px;
  background-color: rgba(145, 145, 145, 0.15);
  border-radius: 0px 15px 15px 0px;
}
.why-choose-item-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
.why-choose-item-2 span {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  padding: 6px;
  background-color: rgba(145, 145, 145, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}
.why-choose-item-2 img {
  width: 24px;
  height: 24px;
}
@media (max-width: 1200px) {
  .why-choose-us-container {
    flex-direction: column;
  }
  .why-choose-us-content-1,
  .why-choose-us-content-2 {
    width: 100%;
    border-radius: 15px;
  }
}

@media (max-width: 768px) {
  .projects-container {
    text-align: center;
  }
  .projects-container h3 {
    font-size: 36px;
  }
  .projects-container a {
    margin-top: 20px;
  }
  .why-choose-us-content-1,
  .why-choose-us-content-2 {
    padding: 30px;
  }
  .why-choose-item,
  .why-choose-item-2 {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .projects-container h3 {
    font-size: 32px;
  }
  .why-choose-item span,
  .why-choose-item-2 span {
    width: 32px;
    height: 32px;
    padding: 4px;
  }
  .why-choose-item img,
  .why-choose-item-2 img {
    width: 20px;
    height: 20px;
  }
}
/* why choose us section end */
/* faq section start */
.nav-faq-item .content-container p{
  width: 95%;
}




/* faq section end */