/* Small Screens (Phones) */
@media (max-width: 600px) {



  .logo-container {
    gap: 20px; /* Reduce gap between logos */
  }

  .logo img {
    max-height: 30px; /* Slightly reduce logo height */
  }

  .logo span {
    font-size: 1rem; /* Slightly reduce font size */
  }
  .about-us-content h3 {
    font-size: 1.5rem; /* Slightly reduce heading size */
  }
  .about-us-content .gray-800 {
    font-size: 0.9rem;
  }
}

/* Tablets (Medium Screens) */
@media (max-width: 1024px) {
  
  .about-us-content {
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center horizontally */
    text-align: center; /* Center text within elements */
  }

  .badge-button {
    margin-bottom: 20px; /* Add space below the badge */
    /* You might want to adjust font size or padding here too */
  }

  .about-us-text {
    max-width: 100%; /* Occupy full width on smaller screens */
  }

  .about-us-content h3 {
    font-size: 1.8rem; /* Slightly reduce heading size */
    margin-bottom: 20px; /* Add space below the heading */
  }

  .about-us-content .gray-800 {
    font-size: 1rem;
  }

  .glow-button {
    font-size: 16px; /* Slightly reduce button size */
    /* You might want to adjust padding here too */
  }

  .pt-24 {
    /* If you are using this class for padding, adjust it */
    padding-top: 20px; /* Reduce top padding */
  }
}

/* Large Screens */
@media (min-width: 1200px) {
  .about-us-text {
    max-width: 724px; /* Or a larger width for large screens */
  }
}
