body {
  background: #0b0a0d;
}

.btn {
  border-radius: 100px;
}

/* projects button */
.projects-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: #ffffff;
  padding: 14px 20px;
  border: 2px solid rgba(255, 255, 255, 1);
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button-arrow {
  margin-left: 10px; /* Space between text and arrow */
  background-image: url("/images/icons/arrow-right-solid.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

/* about section start */
.about-us-content {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  text-align: center;
  padding: 20px;
}

.about-us-text {
  width: 100%;
  max-width: 724px;
}

/* For screens up to 1024px */
@media (max-width: 64rem) {
  .about-us-text {
    max-width: 600px;
    margin: 0 auto;
  }
  .about-us-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    row-gap: 20px;
  }
}

/* For screens up to 768px */
@media (max-width: 48rem) {
  .about-us-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 20px;
  }

  .about-us-text h3 {
    font-size: 32px;
  }
}

/* For screens up to 640px */
@media (max-width: 40rem) {
  .about-us-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 20px;
  }

  .about-us-text {
    max-width: 100%;
    padding: 0 8px; /* Smaller padding left & right */
  }
  .about-us-text h3 {
    font-size: 26px;
  }
}

/* about section end */
/* number section start */

.numbers-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.numbers-container h3 {
  width: 564px;
  text-align: start;
}
.grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow: hidden;
  width: 1200px;
}

.box {
  position: relative;
  width: 400px;
  height: 200px;
  border: 1px solid rgba(91, 91, 91, 0.5);
}

.box.glow {
  border-image: radial-gradient(
      75px at var(--glow-x) var(--glow-y),
      rgba(252, 252, 253, 1),
      rgba(91, 91, 91, 0.5)
    )
    1;
}
.glow-area {
  position: fixed;
  top: 50px;
  pointer-events: none;
  border-radius: 50%;
  z-index: 1000;
  background: radial-gradient(
    circle,
    rgba(227, 232, 229, 0.1) 0%,
    transparent 70%
  );
  transition: opacity 0.3s ease;
}

.particle {
  position: absolute;
  background: rgba(252, 252, 253, 1);
  pointer-events: none;
  animation: particleAnim 1s forwards;
}

@keyframes particleAnim {
  to {
    transform: translate(var(--tx, 0), var(--ty, 0));
    opacity: 0;
  }
}

/* First row */
.box:nth-child(1) {
  border-top: none;
  border-left: none;
}
.box:nth-child(2) {
  border-top: none;
}
.box:nth-child(3) {
  border-top: none;
  border-right: none;
}

/* Middle rows */
.box:nth-child(4),
.box:nth-child(7),
.box:nth-child(10) {
  border-left: none;
}
.box:nth-child(6),
.box:nth-child(9),
.box:nth-child(12) {
  border-right: none;
}

/* Last row */
.box:nth-child(13) {
  border-left: none;
  border-bottom: none;
}
.box:nth-child(14) {
  border-bottom: none;
}
.box:nth-child(15) {
  border-right: none;
  border-bottom: none;
}
/* Keep the hover effect separate from borders */

.box {
  position: relative;
}

.box .plus-icon {
  position: relative;
}

.box .plus-icon img {
  width: 39px;
  height: 22px;
  position: absolute;
  top: 30px;
  fill: rgba(255, 255, 255, 1);
}

@media (max-width: 1200px) {
  .numbers-container {
    padding: 0px 12px;
  }
}

@media (max-width: 1024px) {
  .numbers-container {
    flex-direction: column;
    row-gap: 48px;
  }
}

@media (max-width: 768px) {
  .grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow: hidden;
    width: 600px;
  }
  .box {
    position: relative;
    width: 200px;
    height: 200px;
    border: 1px solid rgba(91, 91, 91, 0.5);
  }
}

@media (max-width: 640px) {
  .grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow: hidden;
    width: 480px;
  }
  .box {
    position: relative;
    width: 160px;
    height: 200px;
    border: 1px solid rgba(91, 91, 91, 0.5);
  }
}
/* number section end */

/* trust us section start */
.features {
  display: flex;
  justify-content: space-between; /* Center content horizontally */
  align-items: center;
}

.feature {
  width: 264px;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  text-align: left;
}

.feature h3 {
  line-height: 24px;
  text-align: start;
}

.feature img {
  width: 54px;
  height: 54px;
  margin-right: 6px;
}
/* For devices smaller than or equal to 640px */
@media (max-width: 640px) {
  .features {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
  }
}

/* For devices smaller than or equal to 768px */
@media (max-width: 768px) {
  .features {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
  }
}
@media (max-width: 1024px) {
  .features {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
  }
}
/* trust us section end */

/* campaign Container */
.campaign-data-title {
  width: 460px;
  margin: 0 auto;
}

.campaign-data-content {
  background: none;
}

.accordion {
  width: 474px;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-5px);
  }
}

.campaign-data-content .accordion details {
  overflow: hidden;
  transition: padding 0.3s ease-in-out, opacity 0.3s ease-in-out;
  border: none; /* Default border removed */
  padding: 0; /* Default padding 0, expands when opened */
}

.campaign-data-content .accordion details[open] {
  animation: slideDown 0.3s ease-in-out forwards;
  padding: 10px 0; /* Add padding instead of height transition */
}

.campaign-data-content .accordion details .content {
  opacity: 0;
  transform: translateY(-5px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.campaign-data-content .accordion details[open] .content {
  opacity: 1;
  transform: translateY(0);
}

.campaign-data-content .accordion details {
  position: relative;
  margin-bottom: 15px;
  border-radius: 25px;
  background: var(--Color-BG-Box-BG, rgba(14, 17, 22, 1));
  padding: 0;
}

.campaign-data-content .accordion details[open]::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 24px;
  padding: 1.5px;
  background: radial-gradient(
    164.04% 114.84% at 50% 0%,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
  z-index: 0;
}

.campaign-data-content .accordion summary {
  list-style: none;
  cursor: pointer;
  padding: 24px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
}

.campaign-data-content .accordion summary::marker {
  display: none;
}

.campaign-data-content .accordion summary::after {
  content: "";
  position: absolute;
  right: 15px;
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("/images/icons/ExpandIcon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  transition: transform 0.3s ease-in-out;
}
.campaign-data-content .accordion details {
  transition: all 0.3s ease-in-out;
}

.campaign-data-content .accordion details[open] > summary::after {
  transform: rotate(180deg);
}

.campaign-data-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  gap: 20px;
}

.content {
  width: 370px;
  padding-left: 24px;
  position: relative;
  z-index: 1;
  display: block;
}

/* Optional: Style the "More info" link */
details a {
  margin-left: 24px;
  margin-top: 34px;
  margin-bottom: 24px;
  display: inline-block;
  cursor: pointer;
}

details img {
  width: 24px;
  height: 24px;
}

table {
  /* width: 100%; */
  border-collapse: separate;
  border-spacing: 0;
  border: 1.5px solid rgba(145, 145, 145, 0.3);
  border-radius: 24px;
  overflow: hidden;
}

th,
td {
  padding: 16px 16px;
  text-align: left;
  border-bottom: 1px solid #282f38;
}
thead tr {
  background-color: #1c1f24;
}
thead tr th {
  padding: 24px 0px 24px 24px;
  text-transform: uppercase;
}

tbody tr td {
  text-align: center;
}

tr:hover {
  background-color: #202831;
}
tbody tr td picture {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px; /* Fixed width */
  height: 56px; /* Fixed height */
  padding: 12px 12px 12px 12px; /* Applied only top padding */
  gap: 10px; /* Not needed for a single image, but kept */
  border-radius: 100px; /* Top-left rounded */
  background: rgba(23, 28, 36, 1);
}

.brand-icon {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

@media (max-width: 640px) {
  .campaign-data-content {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .campaign-data-content {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 1200px) {
  .campaign-data-content {
    flex-direction: column;
    align-items: center;
  }
}

/* campaign data section end */

/* service section start */
.service-section-wrap {
  position: relative;
  padding: 160px 14px;
  background: linear-gradient(296.19deg, #0e1116 0%, #0e1116 100%);

  overflow: hidden;
}

.service-section-wrap::before {
  content: "";
  position: absolute;
  inset: 0;
  /* background-image: url("/images/services-section.png"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  backdrop-filter: blur(357.1200256347656px);

  -webkit-backdrop-filter: blur(35px);
  z-index: 1;
}

.service-section-wrap > * {
  position: relative;
  z-index: 2;
}
.service-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.service-section h3 {
  width: 100%;
  max-width: 564px;
  text-align: start;
  font-size: clamp(28px, 4vw, 48px);
}

.service-section p {
  width: 100%;
  max-width: 459px;
  line-height: 1.5;
  font-size: clamp(16px, 2vw, 18px);
}

.service-section-card {
  padding-top: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.service-card {
  width: 573px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 32px;
  background-color: #16181d;
  border-radius: 24px;
}

@media (max-width: 1200px) {
  .service-section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .service-section h3 {
    width: 459px;
    font-size: 36px;
  }
}
/* service section end */
/* blog section start */
.blog-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blog-heading h3 {
  text-align: start;
  width: 450px;
}

.blog-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 24px;
  row-gap: 20px;
}

.blog-card {
  width: 374px;
  background: rgba(11, 10, 13, 1);
  position: relative;
  border-radius: 20px;
  padding: 1.5px;
  overflow: hidden;
}

.blog-card::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 20px;
  padding: 1.5px;
  background: radial-gradient(
    164.04% 114.84% at 50% 0%,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.blog-card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}
.blog-card-content {
  padding-left: 16px;
}
.blog-card-content a {
  display: inline-block;
}

@media (max-width: 1200px) {
  .blog-heading {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 40px;
  }
  .blog-heading h3 {
    width: 459px;
    font-size: 36px;
  }
}

/* blog section end */
/* contact form start */
.contact-form {
  display: flex;
  width: 100%;
  background: #16191d;
  border-radius: 24px;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  padding: 80px 60px 80px 80px;
}
#contact-form {
  background-image: url("/images/Contactform.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contact-form-content {
  width: 478px;
}

.contact-form-input {
  width: 466px;
}
.contact-form-points {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.contact-form-content a {
  display: inline-flex;
  margin-top: 20px;
  padding: 8px 16px;
  border-radius: 100px;
  border: none;
  color: rgba(255, 255, 255, 1);
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  border: none;
}
.contact-form-points img {
  width: 20px;
  height: 20px;
}
.contact-form-content h4 {
  padding-top: 84px;
  width: 244px;
}
.contact-form-content button {
  display: flex;
  margin-top: 20px;
  padding: 8px 16px;
  border-radius: 100px;
  border: none;
  color: rgba(255, 255, 255, 1);
  background: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  border: none;
}

form {
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.form-group input {
  padding: 16px 0px;
  width: 221px;
  background: rgba(14, 17, 22, 1);
  border: transparent;
  color: var(--Color-Other-White, rgba(255, 255, 255, 1));
  font-family: "Lato", serif;
  font-size: 18px;
  font-weight: 600;
  border-bottom: 1.5px solid rgba(145, 145, 145, 0.3);
}
.form-group input::placeholder {
  color: rgba(255, 255, 255, 1);
}

.form-group input:focus {
  outline: none;
  border: none;
  font-family: "Lato", serif;
  font-size: 18px;
  font-weight: 600;
  border-bottom: 1.5px solid rgba(145, 145, 145, 0.3);
}

.contact-details textarea {
  padding: 16px 0px;
  width: 100%;
  background: rgba(14, 17, 22, 1);
  border: transparent;
  color: var(--Color-Other-White, rgba(255, 255, 255, 1));
  border-bottom: 1.5px solid rgba(145, 145, 145, 0.3);
  font-family: "Lato", serif;
  font-size: 18px;
  font-weight: 600;
  margin-top: 71px;
}
.contact-details textarea::placeholder {
  color: rgba(255, 255, 255, 1);
}
.contact-details textarea:focus {
  outline: none;
  border: none;
  font-family: "Lato", serif;
  font-size: 18px;
  font-weight: 600;
  border-bottom: 1.5px solid rgba(145, 145, 145, 0.3);
}

.submit-btn button {
  padding: 14px 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  margin-top: 30px;
  border: none;
  cursor: pointer;
}
.submit-btn button img {
  margin-left: 4px;
  width: 24px;
  height: 24px;
}

@media (max-width: 1200px) {
  .contact-form {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 40px;
  }
  .contact-form-content {
    width: 459px;
    font-size: 36px;
  }
}
/* contact form end */
